#hello{
    color: lightslategrey;
    /*padding: 3px;*/
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Times", 'Times New Roman', Times, serif;
    width: 45%;
    padding: 35px auto; 
    margin: 5px auto;
    font-size: 60px;
    border: 5px solid darkgray;
    border-style: outset;
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
    
    /*background-color: lightblue;/*/
}
